{% extends 'base.html' %}
{% load static %}
{% block title %}
CheckList Finalizado
{%endblock%}
{% block unidade %}

    <div class="headerleft">
        <a href="{% url 'index' %}">
            <img src="{% static 'img/samulogo.png' %}">
            </a>
            <a href="{% url 'index' %}">
            <h2> Checklist Diário </h2>
            </a>
    </div>

    <div class="headeright">
        {% if user.usa and not user.is_staff%}
        <label>Logado na unidade de <b>{{user.unity}} (USA)</b></label>
        {% elif user.usb and not user.is_staff%}
        <label>Logado na unidade de <b>{{user.unity}} (USB)</b></label>
        {% else %}
        <label>Logado na unidade de <b>{{user.unity}}</b></label>
        {% endif %}
        <br>
        {% if user.is_staff %}
        <label><a href="/dashboard">DashBoard</a></label>
        <label><a href="/admin" target="_blank">Acesso Administrativo</a></label>
        {% endif %}
        <label><a href="{% url 'logout' %}">Sair</a></label>
    </div>

       
{%endblock%}

{% block conteudo%}
<div class="container">
    <div class="headerbottom">
    <div id="message" class="hide" style="background-color: green;color:white;border-radius: 6px;padding: 6px;"><label>Sugestão enviada com sucesso! Obrigado.</label></div>
    <h1>Checklist Finalizado!</h1>
    <img style="width:150px;" src="{% static 'img/check.png' %}">
    <label>{{ dataatual }}</label>
    <label id="preenchente" style="display:none;">{{ preenchente }}</label>
    <label id="textarea"></label>
       <a href="{% url 'index' %}"> <button class="btn">Voltar para o inicio</button></a>
    <div id="sugestao" style="display: none;">
        <div style="display: flex;">
            <textarea id="sugestText" name="sugestext" style="width: 100%;min-height: 30px;" placeholder="digite aqui para sugerir..." maxlength="190"></textarea>
            <button onclick="enviarRequisicao();">Enviar</button>
        </div>
        <div>
          
        </div>
 
    </div>

    </div>
</div>
<script>
    window.onload = function() { 
    let text = "Obrigado, o checklist foi finalizado corretamente!\n\ Para contribuir com o sistema, você avaliar?";
    let _textarea = document.getElementById("textarea");

    const resolveAwait = ()=> {
        return new Promise(resolve => {
            setTimeout(() => {
            resolve('resolved');
            }, 5);
        });
}
    const sleepf = async()=>{
        let newT = "";
        for(let x=0; x < text.length; x++){
            newT = newT + text[x]
            _textarea.innerText = newT;
            const result = await resolveAwait();
        }
        document.getElementById("sugestao").style.display = "block";
    }
    // sleepf();

    
    }
    function enviarRequisicao() {
        // Obtém o valor do campo de texto
        var url_atual = window.location.href.replace("finalizar/", "sugestao")
        let csrftoken = getCookie('csrftoken');

        let inputValor = document.getElementById("sugestText");
        if (!inputValor.value){return}
        let preenchente = document.getElementById("preenchente").innerHTML
        console.log(preenchente)

        // Configura os dados para a requisição
        let data = {
            preenchente: preenchente,
            sugestText: inputValor.value
        };
        console.log(JSON.stringify(data))
        // Configura as opções para a requisição
        let options = {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            }
        };

        // Envia a requisição
        fetch(url_atual, options)
            .then(response => {
                // Lida com a resposta da requisição
                if (response.ok) {
                    console.log('Requisição POST enviada com sucesso!');
                } else {
                    console.error('Erro na requisição POST:', response.status);
                }
            })
            .catch(error => {
                console.error('Erro na requisição POST:', error);
            })
            .finally(()=>{
                inputValor.value = "";
                toggleDiv();
            });
    }
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function toggleDiv() {
        var div = document.getElementById("message");
        if (div.classList.contains("hide")) {
            div.classList.remove("hide");
            div.classList.add("show");
        }
        }

  </script>
{%endblock%}
