{% extends 'base.html' %}
{% load static %}
{% block title %}
CheckList Registro Mensal
{%endblock%}
{% block unidade %}

    <div class="headerleft">
        <a href="{% url 'index' %}">
            <img src="{% static 'img/samulogo.png' %}">
            </a>
            <a href="{% url 'index' %}">
            <h2> Checklist Diário </h2>
            </a>
    </div>

    <div class="headeright">
        {% if user.usa and not user.is_staff%}
        <label>Logado na unidade de <b>{{user.unity}} (USA)</b></label>
        {% elif user.usb and not user.is_staff%}
        <label>Logado na unidade de <b>{{user.unity}} (USB)</b></label>
        {% else %}
        <label>Logado na unidade de <b>{{user.unity}}</b></label>
        {% endif %}
        <br>
        <label><a href="/">Inicio</a></label>
        {% if user.is_staff %}
        <label><a href="/admin" target="_blank">Acesso Administrativo</a></label>
        {% endif %}
        <label><a href="{% url 'logout' %}">Sair</a></label>
    </div>

       
{%endblock%}

{% block conteudo%}
<div class="container" style="flex-direction: column;">
    <div class="headertop">
        <form id="form" action="{% url 'registros' %}" method="POST"  style="gap: 10px;" > {% csrf_token %}
        <label>Selecione o mês: </label>
        <select name="mes" id="mes">
          <option value="01">Janeiro</option>
          <option value="02">Fevereiro</option>
          <option value="03">Março</option>
          <option value="04">Abril</option>
          <option value="05">Maio</option>
          <option value="06">Junho</option>
          <option value="07">Julho</option>
          <option value="08">Agosto</option>
          <option value="09">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select> 
        <label>Selecione o ano: </label>
        <select name="ano" id="ano">
          <option value="2023">2023</option>
          <option value="2022">2024</option>
        </select> 
        <label>Selecione a viatura: </label>
        <select name="select_viaturas">
            {% for vtr in viaturas %}
            <option value="{{vtr.id}}">{{vtr.name}}/{{vtr.placa}}</option>
            {% endfor %}
          </select>
          <button>Filtrar</button>
        </form>
    </div>
    {% if objects %}
        {% for vtr in vtrs %}
        <script>mensal.register("{{vtr.viatura.name}}", "KM", "{{vtr.km}}", "{{vtr.pub_date}}", "NO");</script>
        {% endfor %}
        {% for date, infovtr in infosday %}
                <div style='width: 100%;display: flex;gap:5px; padding: 10px;align-items: center;justify-content: center;'>
                    <h3 style="font-family: 'Poppins';">Relatorio Mensal data: </h3>
                    <h3 style="font-family: 'Poppins'; color:brown;">{{ date }}</h3>
                </div>
        {% endfor %}
        <div id="container">

        </div>
        <script> mensal.config("{{days}}")</script>
        {% for obj in objects %}
                <script>mensal.register("{{obj.item.item.category}}", "{{obj.item.item.name}}", "{{obj.carga}}", "{{obj.date}}", "{{obj.item.charge}}");</script>
        {% endfor %}
        <script>mensal.create()</script>

    {% else %}
        <div style='width: 100%;display: flex;padding: 10px;flex-direction:column;align-items: center;justify-content: center;'>
            {% if infosday %}
            {% for date, infovtr in infosday %}
                    <h1 style="font-family: 'Poppins';">{{ date }}</h1>
                {% endfor %}
            <h1 style="font-family: 'Poppins';">Não ha registro nessa data </h1>
            {% endif %}
        </div>

    {% endif %}
</div>


{%endblock%}
