{% extends 'base.html' %}
{% load static %}
{% block unidade %}
<script>const mensal = new Mensal();</script>
    <div class="headerleft">
        <img src="{% static 'img/samulogo.png' %}">
        <h2> Checklist Diário </h2>
    </div>

    <div class="headeright">
        {% if user.usa and not user.is_staff%}
        <label>Logado na unidade de <b>{{user.unity}} (USA)</b></label>
        {% elif user.usb and not user.is_staff%}
        <label>Logado na unidade de <b>{{user.unity}} (USB)</b></label>
        {% else %}
        <label>Logado na unidade de <b>{{user.unity}}</b></label>
        {% endif %}
        <br>
        <label><a href="/">Inicio</a></label>
        {% if user.is_staff %}
        <label><a href="/admin" target="_blank">Acesso Administrativo</a></label>
        {% endif %}
        <label><a href="{% url 'logout' %}">Sair</a></label>
    </div>

       
{%endblock%}

{% block conteudo%}
<div class="container" style="flex-direction: column;">
    <div class="headertop">
        <form id="form" action="{% url 'registros' %}" method="POST"  style="gap: 10px;" > {% csrf_token %}
        <label>Selecione o mês: </label>
        <select name="mes" id="mes">
          <option value="01">Janeiro</option>
          <option value="02">Fevereiro</option>
          <option value="03">Março</option>
          <option value="04">Abril</option>
          <option value="05">Maio</option>
          <option value="06">Junho</option>
          <option value="07">Julho</option>
          <option value="08">Agosto</option>
          <option value="09">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select> 
        <label>Selecione o ano: </label>
        <select name="ano" id="ano">
          <option value="2022">2022</option>
          <option value="2023">2023</option>
        </select> 
        <label>Selecione a viatura: </label>
        <select name="select_viaturas">
            {% for vtr in viaturas %}
            <option value="{{vtr.id}}">{{vtr.name}}/{{vtr.placa}}</option>
            {% endfor %}
          </select>
          <button>Filtrar</button>
        </form>
    </div>
    {% if objects %}

        {% for date, infovtr in infosday %}
                <div style='width: 100%;display: flex;gap:5px; padding: 10px;align-items: center;justify-content: center;'>
                    <h3 style="font-family: 'Poppins';">Relatorio Mensal data: </h3>
                    <h3 style="font-family: 'Poppins'; color:brown;">{{ date }}</h3>
                </div>

                <table >
                    <tr>
                        <th>{{ infovtr.name }}</th>
                            {% for dias in range %}
                                <th>{{ dias }}</th>
                            {% endfor %}
                        </tr>
                        <td>KM</td>
                        {% for dia in range%}
                        <td id="{{infovtr.name}}{{dia}}"></td>
                        {% for obj in vtrs%}
                                {% if obj.pub_date == dia%}
                                    <script>mensal.setar('{{infovtr.name}}{{dia}}',' {{obj.km}}')</script>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                </table>    
            {% endfor %}
        {% for categoria in categorias%}
            <table >
                <tr>
                    <th>{{ categoria.name }}</th>
                    <th>Carga</th>
                        {% for dias in range %}
                            <th>{{ dias }}</th>
                        {% endfor %}
                    </tr>
                    {% for instancia in items %}
                        {% if instancia.item.category == categoria %}
                            <tr>
                            <td>{{ instancia.item.name }}</td>
                            <td id="{{instancia.item.id}}carga">0</td>    
                                {% for dia in range%}
                                <td id="{{instancia.item.id}}{{dia}}"></td>
                                    {% for obj in objects%}
                                        {% if obj.item.name == instancia.item.name and obj.date == dia%}
                                            <script>mensal.setar({{instancia.item.id}}{{dia}}, {{obj.carga}})</script>
                                            <script>mensal.setar('{{instancia.item.id}}carga', {{instancia.charge}})</script>
                                        {% endif %}
                                    {% endfor %}

                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
            </table>
        {% endfor %}

    {% else %}
        <div style='width: 100%;display: flex;padding: 10px;flex-direction:column;align-items: center;justify-content: center;'>
            {% if infosday %}
            {% for date, infovtr in infosday %}
                    <h1 style="font-family: 'Poppins';">{{ date }}</h1>
                {% endfor %}
            <h1 style="font-family: 'Poppins';">Não ha registro nessa data </h1>
            {% endif %}
        </div>

    {% endif %}
</div>


{%endblock%}
