{% extends 'base.html' %}
{% load static %}

{% block unidade%}
    <h3 style="font-family: 'Poppins';"> Faça o login para acessar o checklist </h3>
{% endblock %}

{% block conteudo %}

<div id="login">

    <div class="headertop" style="min-width: 400px;">
        <img src="{% static 'img/samulogo.png' %}">
    </div>
    <form action="{% url 'index_login' %}" method="POST"> {% csrf_token %}
    <div class="headerbottom">
        {% if messages %}
            {% for message in messages %}
            <div class="alert {{message.tags}}" role="alert">
                {{message}} 
            </div>
            {% endfor %}
        {% endif %}
        <label>Usuario</label>
        <input type="text" name="unity" placeholder="Login" required>
        <label>Senha</label>
        <input type="password" name="password" placeholder="Senha" required>
        <input type="submit" value="ENTRAR">
    </div>
</form>
<label style="margin-top: -30px;font-size:12px;"> desenvolvido pela equipe de TI do cisbaf</label>
</div>

{% endblock %}